.header_area .main_menu{
    width: 100%;
    height: 14vh;
    background-color: #e6edfc65;
}
.main_menu img {
    width: 160px;
}
body {
    background-color: #F5F5F5;
}
.input-group {
    width: 40%;
    margin: 0px auto;
    background-color: #e6edfc65;
}

.search {
    background-color: #e6edfc65;
}


.banner_area1 {
    width: 100%;
    height: 15vh;
    background-color: #f6f6f6;
}
.banner_area1 .container h2 {
    margin-top: 30px;
}
.container h2 {
    color: #A2B9EE;
}

.checkout_btn_inner {
    display: flex;
}

.checkout_btn_inner .continuer {
    margin-right: 10px;
}
.cupon_text a{
    background-color: #f28f0a;
    border: 1px solid #f28f0a;
}

.cupon_text a:hover {
    background-color: white;
    color: #f28f0a;
}

.checkout_btn_inner .buy a{
    background-color: #f02a2d;
    border: 1px solid #f02a2d;
}

.checkout_btn_inner .buy a:hover {
    background-color: white;
    color: #f02a2d;
}
