.header_area .main_menu{
    width: 100%;
    height: 14vh;
    background-color: #e6edfc65;
}
.main_menu img {
    width: 160px;
}
body {
    background-color: #F5F5F5;
}
.input-group {
    width: 40%;
    margin: 0px auto;
    background-color: #e6edfc65;
}

.search {
    background-color: #e6edfc65;
}

.banner_area1 {
    width: 100%;
    height: 25vh;
    background-color: #f6f6f6;
}
.banner_area1 .container h2 {
    margin-top: 30px;
    margin-bottom: 40px;
}
.container h2 {
    color: #A2B9EE;
}

.cart_areas {
    width: 100%;
    margin-top: 20px;
}

.checkout_btn_inner {
    display: flex;
}

.checkout_btn_inner .continuer {
    margin-right: 10px;
}

.checkout_btn_inner .buy a{
    background-color: #ffbc06;
    border: 1px solid #ffbc06;
}

.checkout_btn_inner .buy a:hover {
    background-color: white;
    color: #ffbc06;
}

.active {
    display: flex;
}

.active .cupon_text1 a{
    border: 1px solid #4a90e2;
    background-color: #4a90e2;
}


.active .cupon_text1 a:hover {
    background-color: white;
    color: #4a90e2;
    
}

.active .cupon_text2 a{
    border: 1px solid #f02a2d;
    background-color: #f02a2d;
}


.active .cupon_text2 a:hover {
    background-color: white;
    color: #f02a2d;
    
}
