
.main_menu img {
    width: 160px;
}
body {
    background-color: #F5F5F5;
}
.input-group {
    width: 40%;
    margin: 0px auto;
    background-color: #e6edfc65;
}

.search {
    background-color: #e6edfc65;
}
.feature-area{
    height: 35vh;
    background-color: white;
}

.col-lg-12{
    margin-top: 10px;

}

.img-logohome1 {
    width: 100%;
    display: flex;
}
.img-logo1 {
    width: 100%;
}
.img-logo1  img{
    width: 88%;
    border-radius: 10px;
}
.img-logo2 {
    width: 40%;
}
.img-logo2 img {
    width: 98%;
    height: 30vh;
    border-radius: 10px;
}
.img-logo2-top {
    margin-bottom: 4px;
}
.feature_product_area {
    height: 160vh;
}

.main_title {
    height:4vh;
}

.main_titles{
    width:20%;
    margin: auto;
    display:flex;
    border-radius:5px;
    justify-content: center;
    background-color: white;
}
.main_titles a {
    color:black;
    padding: 10px;
}