.header_area .main_menu{
    width: 100%;
    height: 14vh;
    background-color: #e6edfc65;
}
.main_menu img {
    width: 160px;
}
body {
    background-color: #F5F5F5;
}
.input-group {
    width: 40%;
    margin: 0px auto;
    background-color: #e6edfc65;
}

.search {
    background-color: #e6edfc65;
}
.card_area {
    display: flex;
}
.checkout a{
    background-color: #f02a2d;
    border: 1px solid #f02a2d;
}
.checkout a:hover {
    color: #f02a2d;
}
.price-product {
    display: flex;
}

.price-product h2 {
    margin-right: 20px;
}
.price-product h2 u {
    color: #71cd14; 
}
.price-product del u {
    color: #8b8080;
}
.review_item img {
    width: 70px;
    border-radius: 50%;
}
